.bud-tooltip {
    position: relative;
  }
  .bud-tooltip__item {
    position: absolute;
    min-width: 300px;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    background: white;
    transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
    color: #484848;
    border-radius: 10px;
    font-weight: 500;
    z-index: 4;
  }
  .bud-tooltip__item:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
  .bud-tooltip__initiator {
    cursor: pointer;
    z-index: 5;
  }
  .bud-tooltip[data-direction="left"] .bud-tooltip__initiator:hover ~ .bud-tooltip__item {
    transform: translate3d(0, -50%, 0);
    visibility: visible;
    opacity: 1;
  }
  .bud-tooltip[data-direction="left"] .bud-tooltip__item {
    top: 50%;
    right: calc(100% + 1em);
    transform: translate3d(15px, -50%, 0);
  }
  .bud-tooltip[data-direction="left"] .bud-tooltip__item:after {
    top: 50%;
    right: -0.5em;
    transform: translate3d(0, -50%, 0);
    border-width: 0.5em 0 0.5em 0.5em;
    border-color: transparent transparent transparent white;
    -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
    filter: drop-shadow(1px 2px 1px #bcbcbc);
  }


  /* Right Tooltip */
  .bud-tooltip[data-direction="right"] .bud-tooltip__initiator:hover ~ .bud-tooltip__item {
    transform: translate3d(0, -50%, 0);
    visibility: visible;
    opacity: 1;
  }
  .bud-tooltip[data-direction="right"] .bud-tooltip__item {
    top: 50%;
    left: calc(100% + 1em);
    transform: translate3d(15px, -50%, 0);
  }
  .bud-tooltip[data-direction="right"] .bud-tooltip__item:after {
    top: 50%;
    left: -0.5em;
    transform: rotate(180deg);
    border-width: 0.5em 0 0.5em 0.5em;
    border-color: transparent transparent transparent white;
    /* -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc); */
    /* filter: drop-shadow(1px 2px 1px #bcbcbc); */
  }


  /* RIght Tooltip */
  .bud-tooltip[data-direction="bottom"] .bud-tooltip__initiator:hover ~ .bud-tooltip__item {
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
    opacity: 1;
  }
  .bud-tooltip[data-direction="bottom"] .bud-tooltip__item {
    top: calc(100% + 1em);
    left: 50%;
    transform: translate3d(-50%, -15px, 0);
  }
  .bud-tooltip[data-direction="bottom"] .bud-tooltip__item:after {
    top: -0.5em;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    border-width: 0 0.5em 0.5em 0.5em;
    border-color: transparent transparent white transparent;
    -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
    filter: drop-shadow(1px -1px 1px #bcbcbc);
  }
  
  .fa.fa-info-circle {
    font-size: 38px;
    color: #21606b;
  }
  

  